= form_for @recipe do |f|
  - if @recipe.errors.any?
    - @recipe.errors.each do |error, msg|
      = error
      = msg
  %div.flex.flex-col.mx-auto{:class => "w-4/5"}
    = f.text_field :title, placeholder: 'Name des Rezeptes', required: true, class:"bg-blue-100 mb-2 border-none rounded-md text-blue-900"
    %div
      = f.fields_for :ingredients do |ingredient|
        = render "ingredient_fields", f: ingredient
      = link_to_add_association 'Weitere Zutat hinzufügen', f, :ingredients
    = f.text_area :description, placeholder: 'Zubereitung', rows: 15, required: true, class:"bg-blue-100 mb-2 border-none rounded-md text-blue-900"
    = f.submit "Rezept erstellen", class:"bg-blue-900 p-3 text-blue-100 rounded-md w-1/4 self-center hover:bg-blue-700 shadow-lg"