%h1= @recipe.title
= @recipe.user.name
- @recipe.ingredients.each do |ingredient|
  %ul
    %li 
      = ingredient.value
      = ingredient.ingredient_unit.name
      = ingredient.name
%p= @recipe.description